{% load static %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
    body {
        font-family: 'Roboto', sans-serif;
        display: inline-block;
    }
    #bg{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: top;
        background-attachment: fixed;
    }
    .card {
        display: inline-block;
        position: fixed;
        left: 15%;
        opacity: 0.7;
        bottom: 50px;
        width: 70%;
        height: 60%;
        background: linear-gradient(135deg, #EE8434 0%, #496DDB 100%);
        border-radius: 20px;
        box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    }
    

    #na {
        margin-top: 3%;
        width: 5%;
    }
    #api {
        text-align: center;
    }
    #picd {
        margin-top: 3%;
        font-size: 30px;
        text-align: center;
    }
    #tittle {
        text-align: center;
    }
    #expl {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 90%;
    }
</style>
<body id="bg" style="background-image: url('{{ data.url }}')";>
    <div class="card">
        <h3 id="picd">Picture of day</h3>
        <h1 id="tittle">{{ data.tittle }}</h1>
        <h2 id="expl">{{ data.explanation}}</h2>
        <p id="api"><img id="na" src="http://www.nasa.gov/sites/default/files/images/nasaLogo-570x450.png"></p>
    </div>
</body>